body {
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#Explaination {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Principal {
    margin-left: 500px;
    margin-right: 500px;
}

#Welcome {
    background-color: darkgreen;
}

#myNavbar {
    background-color: black;
    color: lightgray;
    position: fixed;
}
#FTPD {
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
    font-weight: bold;
}
#Contacts{
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
}
